<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form action="" th:action="@{/register}" th:object="${player}">
        <div>
            <label for="login">Login</label>
            <input type="text" th:field="*{login}" id="login"/>

            <br>

            <label for="password">Password</label>
            <input type="text" th:field="*{pass}" id="password"/>

            <br>

            <input type="submit" value="Register">
        </div>
    </form>

</body>
</html>